# Common
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend (Python)
backend/venv/
backend/__pycache__/
backend/*.py[cod]
backend/*.so
backend/.env
sql_app.db

# Frontend (Node)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Logs
logs
*.log
