@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdfa;
  --color-brand-100: #ccfbf1;
  --color-brand-500: #14b8a6;
  --color-brand-600: #0d9488;
  --color-brand-900: #134e4a;
  --color-dark-800: #1e1e24;
  --color-dark-900: #15151a;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark-900);
    color: #e5e7eb;
    /* text-gray-200 */
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: var(--color-brand-500);
    color: white;
  }
}

@layer utilities {
  .glass-panel {
    background-color: rgb(30 30 36 / 0.8);
    /* dark-800/80 */
    backdrop-filter: blur(24px);
    border: 1px solid rgb(255 255 255 / 0.1);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 1rem;
  }
}